#######################################
# .NET
#######################################
bin/
*.user
*.suo

#######################################
# Rider / JetBrains
#######################################
.idea/
*.sln.iml

#######################################
# Logs
#######################################
*.log

#######################################
# OS Files
#######################################
.DS_Store
Thumbs.db

#######################################
# EF Core
#######################################
Migrations/*Snapshot.cs

#######################################
# Frontend (Node)
#######################################
node_modules/
dist/
build/
.env
