services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sped-backend
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: sped-frontend
    ports:
      - "4200:80"
